<html>
<head>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
   <link rel="stylesheet"  href="css/padding.css">
   <style>
.bg-1 { 
    background-color: #1abc9c; /* Green */
    color: #ffffff;
}
.bg-2 { 
    background-color: #474e5d; /* Dark Blue */
    color: #ffffff;
}
.bg-3 { 
    background-color: #ffffff; /* White */
    color: #555555;
}
</style>
</head>
<body>
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">InstantGram</a>
    </div>
    <ul class="nav navbar-nav">
      <li ><a href="/Home">Home</a></li>
      <li class = "active"><a href="#">About</a></li>
     
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="/users/new"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
      <li><a href="/signin"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
    </ul>
  </div>
</nav>
<div class="container-fluid bg-1 text-center">
  <h3>Who Am I?</h3>
  <img src="http://benrequena.com/wp-content/uploads/2015/05/visual-social-media-ninja-002.png" class="img-circle" alt="Bird">
  <h3>I'm an adventurer</h3>
</div>
<div class="container-fluid bg-2 text-center">
  <h3>What Am I?</h3>
  <p>I'm a high school student who is interning at the coolest company with the nicest employees. At this company I learn how to produce websites like this :) I give credit to Kayla and Kevin for helping me out make my first website(InstantGram) look so nice </p>
</div>

<div class="container-fluid bg-3 text-center">
  <h3>Where To Find Me?</h3>
  <p>You probably don't need to find me but you can try coming to texas and the kalkomey building if you are so desperate to see me :p</p>
</div>


</body>

</html>
